
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5em;
  max-width: 1500px;
  justify-content: center;
}
.title{
  font-size: 60px;
}