
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(bottom left, #c31432  0%, #240b36 100%);
  background: -moz-linear-gradient(bottom left, #c31432  0%, #240b36 100%);
  background: -o-linear-gradient(bottom left, #c31432  0%, #240b36 100%);
  background: linear-gradient(to top right, #c31432  0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca',GradientType=1 ); 
}
.cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5em;
  padding-top: 4em;
  max-width: 1500px;
  justify-content: center;
  background-color: rgba(248, 248, 248, 0.418);
  backdrop-filter: blur(50px);
  border-radius: 20px;

}
.title{
  font-size: 60px;
  color: white;
}